HTTP_PORT=3000  # Порт подключения
HTTP_HOST="http://localhost:3000" # Хост подключения
GLOBAL_PREFIX="/api-example" # Глобальный префикс для api

# Подключению к БД
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_NAME="name_bd"
DATABASE_SCHEMA="public"